@model IEnumerable<LibraryDomain.Model.User>

<h2>Users</h2>
<table class="table">
    <thead>
        <tr><th>Email</th><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName @user.LastName</td>
                <td><a asp-action="Details_Admin" asp-route-id="@user.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
