@model LibraryDomain.Model.Review

@{
    ViewData["Title"] = "Create";
}
<style>
    .star-rating {
        direction: rtl;
        display: inline-flex;
        font-size: 1.8rem;
        user-select: none;
    }

        .star-rating input[type="radio"] {
            display: none;
        }

        .star-rating label {
            cursor: pointer;
            color: #ccc;
            transition: color 0.2s;
        }

        .star-rating input[type="radio"]:checked ~ label {
            color: gold;
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color: gold;
        }
</style>
<h1>Додати коментар до @ViewBag.BookTitle</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create_User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="display:none;">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="star-rating">
                @for (int i = 5; i >= 1; i--)
                {
                    <input type="radio" id="star-@i" name="Rate" value="@i" />
                    <label for="star-@i">&#9733;</label>
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index_User" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}