@model IEnumerable<LibraryDomain.Model.Author>

@{
    ViewData["Title"] = "Автори";
}

<h1>Автори</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h3 class="card-title text-primary">@item.FirstName @item.LastName</h3>
                    <p class="card-text text-muted">@item.Country</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Details_User" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info me-1" title="Details">
                        <i class="bi bi-info-circle"></i> Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>
